.block {
  padding: 20px;
  border: 1px solid #666;
}
.block1 {
  background: #E2EDC1;
  margin-bottom: 20px;
}
.block2 {
  background: #FCE3EE;
  margin-top: -10px;
}
.block3 {
  background: #FCE3EE;
  padding: 0.1px 0;
}
h1 {
  background-color: #E2EDC1;
}